* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 80px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: rgb(74, 74, 74, 0.9);
    display: flex;
    z-index: 1;
}

header h3 {
    width: 27%;
    color: #f7d00e;
    float: left;
    font: 60px "Edwardian Script ITC";
    margin-left: 3%
}

#menu {
    height: 50px;
    width: 65%;
    margin-top: 15px;
    overflow: hidden;
    float: left;
    border-radius: 15px;
    background-color: #4286f4;
}

#menu ul li {
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
}

#menu ul li a {
    color: #fff;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    font: 30px "Colonna MT";
    text-align: center;
}

#menu ul li a:hover,
#menu ul li a:active,
#menu ul li a:focus {
    border-radius: 10px;
    color: #000;
    background-color: orange;
}

#container {
    background-image: url('../Imágenes/Cajamarca.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

#footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.imagen:hover {
    -webkit-transform: scale(0.90);
    transform: scale(0.90);
    overflow: hidden;
    border-radius: 50%;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 140%;
}

li,
p {
    font-size: 130%;
}

div {
    font-size: 100%;
    margin-bottom: 4px;
    margin-left: 6px;
}

.row {
    padding: -15px;
}

.contenedor prueba {
    padding: -15px;
}

.columna {
    width: 30.33333%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 20px;
    position: relative;
    float: left;
    background-color: rgba(219, 240, 186, 0.7);
}

.rowsitios {
    padding: 50px;
}

.columnasitios {
    width: 45.33333%;
    min-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    float: left;
    background-color: rgba(219, 240, 186, 0.7);
}

body espacio {
    width: 100%;
    height: 100px;
    overflow: hidden;
    float: left;
}