body {
    background: -webkit-linear-gradient(left, orange, blue);
}

#container {
    background-image: url('../Imágenes/Cajamarca.jpeg') !important;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.opaco {
    background-color: rgba(219, 240, 186, 0.6);
    height: 80%;
    width: 98%;
}

#footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}

header {
    width: 100%;
    position: fixed;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 130%;
}

div {
    font-size: 100%;
    margin-bottom: 4px;
    margin-left: 6px;
}

p,
ul,
ol,
dl,
address {
    font-size: 110%;
}

p,
li,
dd,
dt,
address {
    line-height: 150%;
}

.row {
    padding: -15px;
}

.columna {
    width: 30.33333%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    float: left;
    background-color: rgba(219, 240, 186, 0.6);
}

.rowsitios {
    padding: 50px;
}

.columnasitios {
    width: 45.33333%;
    min-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    float: left;
    background-color: rgba(219, 240, 186, 0.6);
}